.no-padding-left { padding-left: 0 }
.no-padding-right { padding-right: 0; }
.no-padding-top { padding-top: 0; }
.no-padding-bottom { padding-bottom: 0; }
.no-padding { padding: 0; }
.validation-file-input { visibility: hidden; position: absolute; top: 10px; display: inline-block; width: 73px; left: 0; }
.position-relative { position: relative; }
.required-label:before { content: "*"; color: red; position: relative; right: 4px; font-weight: 700; }